<mat-toolbar class="app-toolbar">
  <div class="title"><img src="../favicon.ico" width="20px"><b>JAZ Movies</b></div>

  <div class="nav">
  <button routerLink="/" class="icon" mat-flat-button >
    Home
  </button>
  <button routerLink="/dvd" class="icon" mat-flat-button >
    DVD
  </button>
 <button routerLink="/download" class="icon" mat-flat-button >
   Download 
  </button> 
 
<button routerLink="/cart" class="icon" mat-icon-button >
  <mat-icon>shopping_cart</mat-icon>
  </button> 
</div>

</mat-toolbar>

<br>

<router-outlet></router-outlet>



